django
djangorestframework
markdown
django-filter
django_compressor
django-libsass
django-webpack-loader
psycopg2
pytest
pytest-django
pytest-selenium
model_bakery
selenium
gunicorn
python-dotenv
black