<nav class="nav">
	<div class="nav__title">
		<p>Training Station</p>
	</div>
	<ul class="nav__menu">
		{% if not user.is_authenticated %}
		<li class="nav__menu-button">
			<a href="{% url 'login' %}">Login</a>
		</li>
		{% else %}
			{% if user|has_group:"Trainer" %}
			<li>
				<a href="/exercises">Exercises</a>
			</li>
			{% endif %}
		<li>
			<a href="/users/profile">Profile</a>
		</li>
		<li class="nav__menu-button">
			<a href="{% url 'logout' %}">Logout</a>
		</li>
		{% endif %}
	</ul>
</nav>